/node_modules
/public/hot
/public/storage
/storage/logs
/storage/docs
/storage/*.key
/storage/*.index
/storage/*.index-journal
/storage/framework/cache/*
/storage/framework/views/*
/storage/framework/sessions/*
/storage/app/*
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.editorconfig
/nbproject
/_ide_helper.php
.php_cs
/.php_cs.cache
.project
.buildpath
/.settings
.vscode/
.history/
