a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: #000;
}

label {
    cursor: pointer;
}

:focus {
    outline: none !important;
}

#app {
    background-color: #fff;
}

.error {
    color: $error-color;
}

.hidden {
    display: none;
}

.sidenav, .sidenav-open {
    height: 100%;
    display: inline-block;

    .nav {
        @include mdMobile() {
            padding-left: 15px;
        }

        @include smMobile() {
            padding-left: 0;
        }
    }

    li {
        list-style: none;

        a,
        a:hover,
        a:focus,
        a:active {
            padding: 10px 14px;
            font-size: 22px;
            display: inline-block;
            background-color: transparent;
        }

        @include smMobile() {
            span {
                padding: 10px 0;
                font-size: 22px;
                margin-left: 20px;
            }
        }
    }

    &.clicable {
        width: 100%;
        display: inline-block;

        i {
            margin-right: 10px;
        }
    }

    &.js-show-submenu {
        display: inline-block;
    }

    & li.js-show-submenu:after {
        content:' ';
        position: absolute;
        display:block;
        width: 48%;
        margin: 0;
        border-radius:4px;
        box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
        left: 40%;
        transform: translateX(-50%);
    }

    & li.js-show-submenu:last-child:after, .remove-after:after {
        display: none !important;
    }

    .sidebar-submenu, {
        display: none;
        padding: 10px 15px;
        border-radius: 11px;
        width: 90%;

        @include mdMobile() {
            width: 100%;
        }

        li {
            i {
                margin-right: 15px;
                width: 20px;
            }

            a {
                display: inline-block;
                font-size: 14px;
                padding: 9px;
                width: 100%;
                text-decoration: none;

                &.active, &:hover, &:active, &:focus {
                    &:after {
                        content: ' ';
                        position: absolute;
                        display: block;
                        width: calc(100% - 75px);
                        margin: 0;
                        padding-top: 4px;
                        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);

                        @include mobile() {
                            width: calc(100% - 70px);
                        }

                        @include mdMobile() {
                            width: calc(100% - 40px);
                        }
                    }
                }
            }

            span {
                width: 100%;
            }
        }

        @include mdMobile() {
            width: 100%;
            padding: 10px 10px 0 10px;
        }

        @include smMobile() {
            display: block;
        }
    }

    .org {
        color: black;

        img {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        h2, h4 {
            width: 90%;
            line-height: 1.4;
        }

        h2 {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .show-more {
            margin-right: 30px;
        }
    }

    @include smMobile() {
        display: none;
        position: absolute;
        z-index: 30;
        top: 105px;
    }
}

ul > li {
    list-style: none;
}

.info-icon {
    position: absolute;
    right: -6px;
    border-radius: 18px;
    padding: 0px 9px;
    margin-top: 5px;

    @include smMobile() {
        margin-top: 0px;
        right: auto;
        margin-left: 10px;
    }
}

.badge {
    padding: 4px 12px;
    font-size: 14px;
    font-weight: 200;
    border: none;
    cursor: pointer;

    &.red {
        background-color: $error-color !important;
    }

    &:hover {
        transition: 0.5s ease-in;
    }

    a, a:hover{
        text-decoration: none;
    }
}

.badge-info {
    width: max-content;
    display: inline-block;
    clear: both;
}

.badge-follow {
  padding: 0px 0px 1px 0px !important;
}

.rounded-input {
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.black {
    &:not(:hover) {
        color: black !important;
    }
}

.index-box {
    padding: 15px 17px;
    color: white;
}

.index-box.followers {
    background: #fff url("/img/followers.svg") no-repeat left top;
}

.index-box.data-sets {
    background: #fff url("/img/data-sets.png") no-repeat left top;
}

.input-border-r-12, .bootstrap-tagsinput, .form-control {
    border-radius: 12px;
    padding: 6px 12px;

    @include smMobile() {
        text-align: left !important;

        &:not(.form-control) {
            margin-left: 10px;
        }
    }
}

.input-long {
    width: 100%;
}

textarea {
    resize: vertical;
    min-height: 80px;
}

.btn {
    padding: 5px 15px;
    border-radius: 11px;

    &:hover {
        transition: 0.5s ease-in;
    }
}

.bootstrap-tagsinput {
    width: 100%;
    border-radius: 12px !important;

    span {
        margin-top: 3px;
        margin-bottom: 3px;
        display: inline-block;
    }

    input {
        margin-top: 3px;
        padding: 5px 0;
        width: 100%;
    }
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #B1B7BA;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #B1B7BA;
}

:-ms-input-placeholder { /* IE 10+ */
    color: #B1B7BA;
}

:-moz-placeholder { /* Firefox 18- */
    color: #B1B7BA;
}

.up-down-angle {
    position: absolute;
    right: 30px;
    font-size: 30px;
    top: 0;

    :hover {
        cursor: pointer;
    }
}

.has-error > label, .req-fields.has-error {
    color: #bb2b2b;
}

.form-group.required > label:after {
    content: "*";
    color: #bb2b2b;
}

.datepicker-switch {
    text-align: center;
}

.view-data-set {
    .sidebar-open {
        top: 50px;
    }

    .sidenav, .sidenav-open {
        top: 60px;
    }
}

.sidebar-open {
    width: min-content;
    position: fixed;
    top: 95px;
    z-index: 999;

    .navbar-toggle {
        padding: 0px 10px;
    }

    .btn-sidebar, #sidebar-wrapper {
        i.fa {
            font-size: 25px;
        }
    }
}

#sidebar-wrapper {
    .btn-sidebar {
        background-color: transparent !important;
        margin-top: -10px;
        margin-bottom: 0;
    }
}

@include xsMobile() {
    h2, .version-heading {
        font-size: 20px !important;
    }
}

.heading {
    padding: 20px 15px;

    @include mobile() {
        padding: 20px 0;
    }
}

.gray-background {
    background-color: #f6f6f6;
}

@include smMobile() {
    .page-content {
        float: right;
    }
}

.radio-label {
    cursor: pointer;

    div {
        display: inline-block;
        margin-left: 10px;
    }
}

.custom-trans-filed {
    padding-right: 0px;
}

.user-add-btn, .m-l-10 {
    margin-left: 10px;
}

.pagination {
    li {
        &.active {
            span {
                background-color: #108f9e;
                border-color: #108f9e;
                color: white;
            }
        }
        span, a {
            color: #108f9e;
        }
    }
}

.user-dataset {
    .desc {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        //max-height: 150px;
    }
    .btns {
        padding-top: 15px;
    }
}

.search-field {
    input {
        border-radius: 15px;
        border: 1px solid black;
        font-size: 12px;
        padding: 2px 5px;
    }

    @include mobile() {
        margin-left: 40px;
        &.admin {
            margin-left: 0px;
            input {
                margin-left: 0px;
            }
        }
    }

    @include mobile() {
        padding-right: 60px;
        &.admin {
            margin-left: 0px;
            input {
                margin-left: 0px;
            }
        }
    }

    @include smMobile() {
        text-align: left !important;
        margin-left: 10px;
        padding-right: 50px;
        &.admin {
            margin-left: 0px;
            input {
                margin-left: 0px;
            }
        }
    }
}

.navbar-static-top {
    z-index: 0;
}

.nano {
    > .nano-pane {
        background: transparent !important;
        width: 10px !important;
    }
}

.opn-tbl {
    margin: 0 auto;
    width: 100%;
    border-radius: 10px;

    table {
        width: 100%;
        margin: 0px;

        td + td {
            border-left:1px solid #108f9e;
        }

        thead {
            padding-left: 10px;

            th {
                color: white;
                text-align: center;
                border-bottom: none !important;

                &:first-child() {
                    border-top-left-radius: 8px;
                    border-bottom-left-radius: 8px;
                }

                &:last-child() {
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px;
                }
            }
        }

        tbody {
            tr {
                &:first-child() {
                    td {
                        border-top: none !important;
                    }
                }

                td {
                    padding-top: 10px;
                    padding-bottom: 10px;

                    &.name {
                        max-width: 150px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }

                    &.buttons {
                        width: 1%;
                        white-space: nowrap;

                        button, a {
                            background: none !important;
                            color: inherit;
                            border: none;
                            padding: 0 10px 0 10px !important;
                            font: inherit;
                            cursor: pointer;
                            position: relative;
                            display: inline-block;

                            &:hover {
                                color: inherit;
                            }

                            &:after {
                                content: '';
                                position: absolute;
                                left: 0;
                                bottom: -10px;
                                height: 8px;
                                width: 100%;
                                border-radius: 2px;
                                transition: 0.1s ease-in;
                                display: none;
                            }

                            &:hover, &.active {
                                &:after {
                                    transition: 0.3s ease-out;
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.doc-upload-input::-webkit-file-upload-button {
    visibility: hidden;
}

.info-box {
    a {
        display: inline-block;
        width: 100%;
        margin-top: 15px;
        position: relative;
        height: 85px;
        border-radius: 10px;

        img {
            position: absolute;
            right: 0;
            bottom: 0;
            height: 100%;
        }

        &.reg-users {
            background: #13ca9a;
        }

        &.reg-orgs {
            background: #e8e129;
        }

        &.updates {
            background: #76ad3f;
        }

        &.followers {
            background: #77ad3e;
        }

        &.data-sets {
            background: #c02e54;
        }

        p {
            color: #fff;
            margin: 0;

            &:first-child {
                padding: 5px 17px 3px 17px;
                font-size: 22px;
                font-weight: bold;
            }

            &:nth-child(3) {
                padding: 6px 17px 0 17px;
                font-size: 16px;
                position: absolute;
                z-index: 1;
                width: 100%;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }

        hr {
            margin: 0 0 0 17px;
            width: 100px;
            text-align: left;
        }
    }
}

.elipsis-1 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.full-size {
    width: 100% !important;
    height: 100% !important;
}

.note-btn-group {
    button {
        &:not(.note-color-btn) {
            color: #636b6f !important;
            background-color: #fff !important;
            border-color: #ccc !important;
            &:hover {
                color: #636b6f !important;
            }
        }
    }
}

.input-group {
    .note-editor {
        margin-bottom: 0px !important;
    }
}

.select2-container {
    width: 100% !important;
}

.page-cont {
    word-break: break-all;
}

.discussion-btn {
    background-color: #108f9e !important;
    color: #fff !important;
}

.side-info {
    img {
        height: 200px !important;
        max-width: 245px;
    }
}

.pages-list {

    .page-item:hover {
        box-shadow: 0 0 11px rgba(33,33,33,.2);
      }

    .page-item {
        padding-top: 40px;
        padding-bottom: 40px;
        border-radius: 15px;

        &.index {
            border: 1px solid $themeIndex;
        }

        &.data {
            border: 1px solid $themeData;
        }

        &.data-attention {
            border: 1px solid $themeDataAttention;
        }

        &.organisation {
            border: 1px solid $themeOrganisation;
        }

        &.request {
            border: 1px solid $themeRequest;
        }

        &.visualisation {
            border: 1px solid $themeVisualisations;
        }

        &.news {
            border: 1px solid $themeNews;
        }

        &.document {
            border: 1px solid $themeDocuments;
        }

        &.contact {
            border: 1px solid $themeContact;
        }

        &.user {
            border: 1px solid $themeUser;
        }
    }
}

.chatter-alert {
    &.alert-success {
        background-color: #dff0d8 !important;
        border-color: #d6e9c6 !important;
        color: #3c763d !important;
    }

    &.alert-danger {
        background-color: #f2dede !important;
        border-color: #ebccd1 !important;
        color: #a94442 !important;
    }

    .chatter-close {
        padding-right: 30px;
    }
}
