a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: #000;
}

:focus {
    outline: none !important;
}

#app {
    background-color: #fff;
}

.error {
    color: $error-color;
}

.hidden {
    display: none;
}

.sidenav, .sidenav-open {
    height: 100%;
    display: inline-block;

    .nav {
        @include mdMobile() {
            padding-left: 15px;
        }

        @include smMobile() {
            padding-left: 0;
        }
    }

    li {
        list-style: none;

        a,
        a:hover,
        a:focus,
        a:active {
            padding: 10px 14px;
            font-size: 22px;
            display: inline-block;
            background-color: transparent;
        }

        @include smMobile() {
            span {
                padding: 10px 0;
                font-size: 22px;
                margin-left: 20px;
            }
        }
    }

    &.clicable {
        width: 100%;
        display: inline-block;

        i {
            margin-right: 10px;
        }
    }

    &.js-show-submenu {
        display: inline-block;
    }

    & li.js-show-submenu:after {
        content:' ';
        position: absolute;
        display:block;
        width: 48%;
        margin: 0;
        border-radius:4px;
        box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
        left: 40%;
        transform: translateX(-50%);
    }

    & li.js-show-submenu:last-child:after, .remove-after:after {
        display: none !important;
    }

    .sidebar-submenu, {
        display: none;
        padding: 10px 15px;
        border-radius: 11px;
        width: 90%;

        @include mdMobile() {
            width: 100%;
        }

        li {
            i {
                margin-right: 15px;
                width: 20px;
            }

            a {
                display: inline-block;
                font-size: 14px;
                padding: 9px;
                width: 100%;
                text-decoration: none;

                &.active, &:hover, &:active, &:focus {
                    &:after {
                        content: ' ';
                        position: absolute;
                        display: block;
                        width: calc(100% - 75px);
                        margin: 0;
                        padding-top: 4px;
                        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);

                        @include mobile() {
                            width: calc(100% - 70px);
                        }

                        @include mdMobile() {
                            width: calc(100% - 40px);
                        }
                    }
                }
            }

            span {
                width: 100%;
            }
        }

        @include mdMobile() {
            width: 100%;
            padding: 10px 10px 0 10px;
        }

        @include smMobile() {
            display: block;
        }
    }

    .org {
        color: black;

        img {
            width: 90%;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        h2, h4 {
            width: 90%;
            line-height: 1.4;
        }

        h2 {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .show-more {
            margin-right: 30px;
        }
    }

    @include smMobile() {
        display: none;
        position: absolute;
        z-index: 30;
        top: 105px;
    }
}

ul > li {
    list-style: none;
}

.info-icon {
    position: absolute;
    right: -6px;
    border-radius: 18px;
    padding: 0px 9px;
    margin-top: 5px;

    @include smMobile() {
        margin-top: 0px;
        right: auto;
        margin-left: 10px;
    }
}

.badge {
    padding: 4px 12px;
    font-size: 14px;
    font-weight: 200;
    border: none;

    &:hover {
        transition: 0.5s ease-in;
    }

    a, a:hover{
        text-decoration: none;
    }
}

.badge-info {
    width: max-content;
    display: inline-block;
    clear: both;
}

.rounded-input {
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.black {
    &:not(:hover) {
        color: black !important;
    }
}

.index-box {
    padding: 15px 17px;
    color: white;
}

.index-box.followers {
    background: #fff url("/img/followers.svg") no-repeat left top;
}

.index-box.data-sets {
    background: #fff url("/img/data-sets.png") no-repeat left top;
}

.input-border-r-12, .bootstrap-tagsinput, .form-control {
    border-radius: 12px;
    padding: 6px 12px;

    @include smMobile() {
        text-align: left !important;

        &:not(.form-control) {
            margin-left: 10px;
        }
    }
}

.input-long {
    width: 100%;
}

textarea {
    resize: vertical;
    min-height: 80px;
}

.btn {
    padding: 5px 15px;
    border-radius: 11px;

    &:hover {
        transition: 0.5s ease-in;
    }
}

.bootstrap-tagsinput {
    width: 100%;
    border-radius: 12px;
    span {
        margin-bottom: 5px;
        display: inline-block;
    }
}

.bootstrap-tagsinput input {
    margin-top: 10px;
    padding: 5px 0;
    width: 100%;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #B1B7BA;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #B1B7BA;
}

:-ms-input-placeholder { /* IE 10+ */
    color: #B1B7BA;
}

:-moz-placeholder { /* Firefox 18- */
    color: #B1B7BA;
}

.up-down-angle {
    position: absolute;
    right: 30px;
    font-size: 30px;
    top: 0;

    :hover {
        cursor: pointer;
    }
}

.has-error > label, .req-fields.has-error {
    color: #bb2b2b;
}

.form-group.required > label:after {
    content:"*";
    color: #bb2b2b;
}

.datepicker-switch {
    text-align: center;
}

.view-data-set {
    .sidebar-open {
        top: 50px;
    }

    .sidenav, .sidenav-open {
        top: 60px;
    }
}

.sidebar-open {
    width: min-content;
    position: fixed;
    top: 95px;
    z-index: 999;

    .navbar-toggle {
        padding: 0px 10px;
    }

    .btn-sidebar, #sidebar-wrapper {
        i.fa {
            font-size: 25px;
        }
    }
}

#sidebar-wrapper {
    .btn-sidebar {
        background-color: transparent !important;
        margin-top: -10px;
        margin-bottom: 0;
    }
}

@include xsMobile() {
    h2, .version-heading {
        font-size: 20px !important;
    }
}

.heading {
    padding: 20px 15px;

    @include mobile() {
        padding: 20px 0;
    }
}

.gray-background {
    background-color: #f6f6f6;
}

@include smMobile() {
    .page-content {
        float: right;
    }
}

.radio-label {
    cursor: pointer;

    div {
        display: inline-block;
        margin-left: 10px;
    }
}

.custom-trans-filed {
    padding-right: 0px;
}

.user-add-btn, .m-l-10 {
    margin-left: 10px;
}

.pagination {
    li {
        &.active {
            span {
                background-color: #108f9e;
                border-color: #108f9e;
                color: white;
            }
        }
        span, a {
            color: #108f9e;
        }
    }
}

.user-dataset {
    .desc {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        //max-height: 150px;
    }
    .btns {
        padding-top: 15px;
    }
}

.search-field {
    input {
        border-radius: 15px;
        border: 1px solid black;
        font-size: 12px;
        padding: 2px 5px;
    }

    @include mobile() {
        margin-left: 40px;
        &.admin {
            margin-left: 0px;
            input {
                margin-left: 0px;
            }
        }
    }

    @include mobile() {
        padding-right: 60px;
        &.admin {
            margin-left: 0px;
            input {
                margin-left: 0px;
            }
        }
    }

    @include smMobile() {
        text-align: left !important;
        margin-left: 10px;
        padding-right: 50px;
        &.admin {
            margin-left: 0px;
            input {
                margin-left: 0px;
            }
        }
    }
}

.navbar-static-top {
    z-index: 0;
}

.nano {
    > .nano-pane {
        background: transparent !important;
        width: 10px !important;
    }
}

.opn-tbl {
    margin: 0 auto;
    width: 100%;
    border-radius: 10px;

    table {
        width: 100%;
        margin: 0px;

        thead {
            padding-left: 10px;

            th {
                color: white;
                text-align: center;
                border-bottom: none !important;

                &:first-child() {
                    border-top-left-radius: 8px;
                    border-bottom-left-radius: 8px;
                }

                &:last-child() {
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px;
                }
            }
        }

        tbody {
            tr {
                &:first-child() {
                    td {
                        border-top: none !important;
                    }
                }

                &:last-child() {
                    td {
                        padding-top: 17px;
                        padding-bottom: 0px;
                    }
                }

                td {
                    padding-top: 10px;
                    padding-bottom: 10px;

                    &.buttons {
                        width: 1%;
                        white-space: nowrap;

                        button, a {
                            background: none !important;
                            color: inherit;
                            border: none;
                            padding: 0 10px 0 10px !important;
                            font: inherit;
                            cursor: pointer;
                            position: relative;
                            display: inline-block;

                            &:hover {
                                color: inherit;
                            }

                            &:after {
                                content: '';
                                position: absolute;
                                left: 0;
                                bottom: -10px;
                                height: 8px;
                                width: 100%;
                                border-radius: 2px;
                                transition: 0.1s ease-in;
                                display: none;
                            }

                            &:hover, &.active {
                                &:after {
                                    transition: 0.3s ease-out;
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
