.config-form {
    .config-control-form {
        max-width: 500px;
        margin: 20px auto 0 auto;
    }

    .dbms-form, .file-form {
        overflow: hidden;
        max-width: 700px;
        margin: 40px auto 0 auto;

        h2 {
            margin-left: 15px;
            margin-right: 15px;
        }
    }

    .query-form {
        overflow: hidden;
        max-width: 700px;
        margin: 0 auto 20px auto;

        h2 {
            margin-left: 15px;
            margin-right: 15px;
        }
    }

    .freq-number {
        width: 50px;
        display: inline-block;
    }

    .select2 {
        margin-left: 20px;
        width: 200px !important;
    }

    .data-query {
        overflow: hidden;
        max-width: 700px;
        margin: 10px auto;

        input[type="submit"] {
            margin-left: 10px;

            &:nth-child(3) {
                margin-right: 15px;
            }
        }

        span {
            margin-left: 15px;
            font-size: 20px;
        }
    }

    .save-btn {
        background-color: $brand-success !important;
        border-color: $brand-success !important;
    }

    .form-group {
        overflow: hidden;
    }
}
