.theme-user {
    .sidenav {
        background-color: transparent !important;
    }
    .sidebar-submenu.open {
        display: block;

        li {
            > a {
                &:after {
                    display: none;
                }

                &.active, &:hover, &:focus, &:active {
                    &:after {
                        left: 39%;
                        display:block;
                    }
                }
            }
        }
    }

    .filter-type {
        li a {
            clear: both;
        }
    }
    .my-profile {
        color: $black;
        font-size: 28px;
    }

    .tag.label {
        font-weight: normal;
        font-size: 100%;
        border-radius: 9px;
    }

    .open-select {
        overflow-y: auto;

        >
        option {
            &:hover,
            &:active,
            &:focus,
            &:checked {
                box-shadow: inset 20px 20px #a1ecf491;
            }
        }
    }

    .fileinput-new.thumbnai {
        width: 180px;
        height: 100px;
        padding: 0px;
        margin-bottom: -10px;
        display: inline-block;
    }

    .inline-block {
        display: inline-block;
    }

    span > label {
        font-weight: normal;
        margin-bottom: 0;
    }
    #org-img {
        opacity: 0;
        position: absolute;
        z-index: -1;
    }

    a.btn {
        color: white;
        &:active, &:focus, &:hover {
            color: white;
        }
    }

    .term-use {
        overflow: hidden;
    }

    .new-data {
        padding: 8px 28px;
    }

    .info-bar {
        li {
            list-style: none;
            padding: 10px 0;
        }
    }

    .history {
        .version-heading {
            font-size: 22px;
            font-weight: 500;
        }

        .version {
            font-size: 17px;
        }

        span > svg {
            height: 20px;
            width: 20px;
        }

        .signaled {
            span {
                color: #d32a31;
            }
            a {
                &:hover, &:focus, &:active {
                    svg {
                        fill: #d32a31;
                    }
                }
            }
        }
    }

    .filter-content {
        .badge > a {
            color: white !important;
        }
    }

    .org-logo {
        img {
            width: 228px;
            height: 128px;
        }
    }

    .control-btns span{
        padding: 15px 25px;
    }

    .exclamation-sign {
        margin-top: -20px;

        img {
            width: 20px;
            height: 20px;
        }
    }

    .type {
        span.selected:after {
            content: url('/img/checked.jpg');
            margin-left: 25px;
        }
    }

    .user-orgs {
        padding: 50px;
        .ch-del-btns {
            margin-top: 10px;
            margin-bottom: 35px;
            div {
                div {
                    button {
                        border-radius: 10px;
                        padding: 7px;
                        background-color: #108f9e;
                        color: white;
                        border: none;
                    }
                }
            }
        }
        .org-desc {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
             -webkit-box-orient: vertical;
             -webkit-line-clamp: 10;
            //max-height: 150px;
        }
        .org-name {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
        }
        .logo-cont {
            height: 220px;
            img {
                max-height: 220px !important;
            }
        }
        .show-more {
            margin-top: 10px;
        }
        .org-col {
            margin-bottom: 30px;
        }
        .pagination {
            li {
                &.active {
                    span {
                        background-color: #108f9e;
                        border-color: #108f9e;
                        color: white;
                    }
                }
                span, a {
                    color: #108f9e;
                }
            }
        }
    }

    @include mobile() {
        .filter-content {
            div {
                div {
                    &.create-org {
                        margin-top: 20px !important;
                        div {
                            text-align: left;
                        }
                    }
                    div {
                        margin-bottom: 10px;
                        .my-profile {
                            font-size: 24px;
                        }
                    }
                }
            }
            .search {
               text-align: left;
            }
        }
    }

    @include smMobile() {
        .filter-content {
            div {
                div {
                    &.create-org {
                        margin-top: 20px !important;
                        div {
                            text-align: left;
                            font-size: 13px;
                        }
                    }
                    div {
                        margin-bottom: 10px;
                        .my-profile {
                            font-size: 24px;
                        }
                    }
                }
            }
            .search {
               text-align: left;
            }
        }

        .user-orgs {
            padding: 0px;
        }

        .my-profile {
            margin-left: 0 !important;
        }

        .sidenav {
            .sidebar-submenu.open {
                padding: 10px 30px !important;
                width: 45%;
                display: block;

                li {
                    a,
                    a:hover,
                    a:active,
                    a:focus {
                        &:after {
                            width: 100px;
                            left: 80px;
                        }
                    }
                }
            }
        }

        .add-terms {
            margin-top: 10px;
        }
    }

    @include xsMobile() {
        .filter-type li a {
            font-size: 12px;
        }

        .sidenav .sidebar-submenu.open {
            padding: 10px 30px !important;
            width: 100% !important;

            li {
                a,
                a:hover,
                a:active,
                a:focus {
                    &:after {
                        width: 100px;
                        left: 80px;
                    }
                }
            }
        }

        .open-select {
            padding: 4px;
        }

        .reg-btns {
            a, button {
                font-size: 13px;
            }

            .add-org {
                padding: 5px 8px;
                margin-left: 5px;
            }
        }

        img.img-responsive {
            width: 100%;
        }

        button {
            font-size: 13px;
            padding: 5px 12px;
        }
    }

    .filter-content {
        div {
            div {
                &.create-org {
                    margin-top: 40px;
                    div {
                        span {
                            border-radius: 10px;
                            padding: 7px;
                            background-color: #108f9e;
                            color: white;
                        }
                    }
                }
            }
        }
        .search {
            input {
                border-radius: 15px;
                border: 1px solid black;
                font-size: 12px;
                padding: 2px 5px;
            }
            padding-top: 9px;
        }
    }
}

.frame {
    margin: 20px;
    border-radius: 10px;
}
